/* .mobile-banking-container {
    padding: 0px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
}
.bp-op-row.bp-op-selected{
background: var(--bg-card) !important;
} */